
:root {
  --primary-color: #2BB8A4;
  --primary-light-color: #a4dad2;
  --secondary-color: #2B7FFF;
  --main-white: #ffffff;
  --main-black: #2B2B2B;
  --main-gray: #A099AA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(226, 225, 225);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border{
  border: 1px solid red;
}